[[extend 'layout.html']]

<section class="section">
  <div class="container">
    <div class="title">Welcome To the CSE183 Emporium!</div>
    <div class="subtitle">Enjoy the shopping spree!</div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="title">Our Products</div>
    <div class="tile is-vertical is-ancestor">
      [[for pl in products:]]
      <div class="tile">
        [[for p in pl:]]
        <div class="tile is-parent">
          <div class="tile is-child notification is-info">
            <div class="box">
              <div class="image">
                <img src="[[=URL('static', 'images/' + p['file'])]]">
              </div>
              <div class="has-text-weight-bold">[[=p['name'] ]]</div>
            </div>
            <a class="button is-success" href="[[=URL('buy', p['id'], signer=url_signer)]]">
              <i class="fa fa-shopping-cart fa-fw"></i> Buy</a>
          </div>
        </div>
        [[pass]]
      </div>
      [[pass]]
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="title">Your Cart</div>
    <!-- Here include code to display the shopping cart -->
  </div>
</section>
